@import "../colors";

.carousel {
  padding: 60px 0 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.carousel__content {
  width: 100%;
  margin-bottom: 30px;
  padding-right: 50px;
  padding-left: 20px;

  .h2__title {
    margin-bottom: 15px;
  }

  .h5__title {
    margin-bottom: 30px;
  }

  .title_small_text {
    font-size: 30px;
  }
}

.carousel__swiper {
  width: 100%;

  &.swiper {
    margin-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
  }

  .swiper-slide {
    max-width: 200px;
    max-height: 410px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .slide__img {
    border-radius: 35px;
    width: 100%;
    height: auto;
  }
  .swiper-button-prev {
    display: none;
    width: 68px;
    height: 68px;
    left: 0;

    border-radius: 50%;
    background-color: $orange-main;

    &:after {
      color: $white;
      font-size: 20px;
      font-weight: 900;
    }
  }

}

@media (min-width: 576px){
  .carousel {
    padding-left: 50px;
  }

  .carousel__content {
    padding-left: 0;
  }

  .carousel__swiper {

    &.swiper {
      .swiper-slide-next {
        padding-left: 17px;
        padding-right: 17px;
        transform: scale(1.1);
        transition: all 0.3s;
      }
    }

    .swiper-button-prev {
      display: flex;
    }
  }

}

@media (min-width: 768px){
  .carousel__swiper {
    .swiper-slide {
      max-width: 250px;
    }
  }
}

@media (min-width: 992px){

  .carousel {
    padding-bottom: 70px;
  }

  .carousel__content {
    width: calc(37% - 50px);
    max-width: 500px;
    margin-bottom: 0;
    padding-right: 0;
  }

  .carousel__swiper {
    width: 63%;
    height: 100%;
  }
}

@media (min-width: 1280px){
  .carousel {
    padding-left: 100px;
    padding-bottom: 120px;
  }

  .carousel__swiper {
    .swiper-slide {
      max-width: 310px;
    }
  }
}
@media (min-width: 1440px){
  .carousel__content {
    .h5__title {
      margin-bottom: 70px;
    }
  }

  .carousel__swiper {
    .swiper-slide {
      max-width: 335px;
    }
  }
}
