@import "../colors";

.discount {
  padding: 50px 20px;
}

.discount__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px;

  border-radius: 60px;
  background: no-repeat left 7% bottom 11% url("../../../public/svg/circlesRotate.svg"),
  $white no-repeat right 6% top 15% url("../../../public/svg/circles.svg");
  background-size: 8%;

  .h3__title {
    text-align: center;
    margin-bottom: 30px;
  }

  .h5__title {
    margin-bottom: 30px;
  }
}

@media (min-width: 576px){
  .discount {
    padding-left: 50px;
    padding-right: 50px;
  }

  .discount__content {
    background-size: auto;
    .h3__title {
      width: 75%;
    }
  }
}

@media (min-width: 992px){

  .discount__content {

    .h3__title {
      width: 50%;
    }

    .h5__title {
      margin-bottom: 60px;
    }
  }
}

@media (min-width: 1280px){

  .discount {
    padding-left: 100px;
    padding-right: 100px;
  }

  .discount__content {
    padding-top: 115px;
    padding-bottom: 115px;
  }

}