@import "../colors";

.carousel {
  padding: 60px 50px  40px;
}
.carousel__content {
  width: 36%;

  .h2__title {
    margin-bottom: 15px;
  }

  .h5__title {
    margin-bottom: 70px;
  }
}

@media (min-width: 1280px){
  .introduce__content {
    padding-top: 110px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
