@import "../colors";

.discount {
  padding: 50px;
}

.discount__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 50px;

  border-radius: 60px;

  .h3__title {
    width: 75%;
    text-align: center;
    margin-bottom: 30px;
  }

  .h5__title {
    margin-bottom: 30px;
  }
}

.discount__svg {
  position: absolute;
  fill: $orange-extra-light;
}

.circle_top_right{
  top: 6%;
  right: 2%;
}

.circle_bottom_left {
  bottom: 5%;
  left: 2%;
  transform: rotate(180deg);
}

@media (min-width: 768px){

  .circle_top_right{
    top: 13%;
    right: 6%;
  }

  .circle_bottom_left {
    bottom: 10%;
    left: 6%;
  }
}

@media (min-width: 992px){

  .discount__content {

    .h3__title {
      width: 50%;
    }

    .h5__title {
      margin-bottom: 60px;
    }
  }
}

@media (min-width: 1280px){

  .discount {
    padding-left: 100px;
    padding-right: 100px;
  }

  .discount__content {
    padding-top: 115px;
    padding-bottom: 115px;
  }

}