@import "../colors";

.feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 50px;
}

.feedback__card {
  width: 39%;
  height: auto;

  margin-right: 5%;// 65px
}

.card__img {
  width: 100%;
  height: auto;

  border-radius: 18%;
}

.feedback__descr {
  width: 100%;
  max-width: 630px;

  .h3__title {
    margin-bottom: 15px;
  }

  .text_weight_normal {
    font-weight: 400;
  }
}

.feedback__text {
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 16px;
}

.feedback__user-info {
  display: flex;
  margin-bottom: 20px;
}

.user__avatar {
  width: 80px;
  height: 80px;
  margin-right: 30px;

  border-radius: 50%;
  background-color: $orange-main;
}

.avatar__img {
  height: 100%;
  border-radius: 50%;
}

.rate__icon {
  transform: scale(0.7);
}

@media (min-width: 768px){

  .feedback {
    flex-wrap: nowrap;
  }

  .feedback__descr {
    width: 61%;
  }
}

@media (min-width: 992px){
  .feedback__descr {
    width: 50%;

    .h3__title {
      margin-bottom: 30px;
    }
  }

  .user__avatar {
    width: 100px;
    height: 100px;
  }
  .feedback__text {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .rate__icon {
    margin-right: 15px;
    transform: none;
  }
}

@media (min-width: 1280px){

  .feedback {
    padding: 50px 100px;
  }
  .feedback__text {
    font-size: 22px;
  }

  .feedback__user-info {
    margin-bottom: 50px;
  }

  .user__avatar {
    width: 134px;
    height: 134px;
  }
}
