$orange-main: #FF7C4E;
$orange-dark: #FF584E; // liner gradient end
$orange-light: #FF7B4E; // liner gradient start


$yellow: #FFD336;

$white: #FFFFFF;
$black: #0F1F1C;// grey-text black color with opacity 0.5
$grey-main: #C4C4C4;
$grey-light: #F6F6F6;// background color

$green-dark: #112120;
$green-main: #428E5F;
$green-light: #4E887A;// for small svg
